{{#if groupLabel}}
<h3 class="element-group-label">
  {{groupLabel}}
  {{#if required}}
    <span class="text-red">*</span>
  {{/if}}
</h3>
{{else}}
  {{#if inlineGroupLabel}}
    <span class="inline-group-label">
      {{inlineGroupLabel}}
      {{#if required}}
        <span class="text-red">*</span>
      {{/if}}
    </span>
  {{/if}}
{{/if}}

{{#each options as |option|}}
  {{#if useButtonStyle}}
    {{mediasuite-radio-button
      name=radioButtonsName
      value=value
      option=option
      label=option.label
      disabled=option.disabled
      class='button-style-radio'
      update=update
    }}
  {{else}}
    {{mediasuite-radio-button
      name=radioButtonsName
      value=value
      option=option
      label=option.label
      disabled=option.disabled
      update=update
    }}
  {{/if}}
{{/each}}
{{error-messages/inline errors=errors}}
